:root{
    --border-radius: 10px;
    --margin-left: 40px;
}

body, html{
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

ul{
    display: flex;
    list-style: none;
}

ul > li{
 padding-right: 20px;
 font-size: 17px;
}

ul> li> a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.parent-nav{
    position: sticky;
    top: 0;
}

.nav{
    display: flex;
    padding: 25px;
    background-color: white;
    border-bottom: 2px solid  rgb(253, 237, 223);
    justify-content: space-between;
}

.rest-img{
    width: 60%;
    margin-left: var(--margin-left);
}
.graph-img{
    width: 100%;
}
.img{
    width: 35%;
    margin-top: 8px;
}

.image-container{
    background-color: rgba(192, 192, 192, 0.189);
    border: 2px solid rgba(192, 192, 192, 0.189);
    border-radius: var(--border-radius);
    margin-right: 80px;
    width: 20%;
}
.image-container1{
    background-color: rgba(192, 192, 192, 0.189);
    border: 2px solid rgba(192, 192, 192, 0.189);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 35%;
}

.hero{
    background-image: url("./Images/pexels-sabrina-gelbart-249798.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    height: 56vh;
}

.hero-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    background-color: #000000cf;
    font-weight: 600;
    width: 80%;
    height: 100%;
    border-radius: var(--border-radius);
    margin: 0 auto;
    
}

.section-details h4, .section-goal h4, .section-about h4{
    text-align: center;
    font-size: 25px;
}

.section-details{
    font-size: 22px;
    margin: 15px 55px;
    
}
.section-details1{
    font-size: 22px;
    width: 95%;
    margin: 15px auto;
    
}

.image-details{
    display: flex;
}

.h5-title{
    text-align: center;
}

.button{
    padding: 10px 14px;
    font-size: 18px;
    font-weight: 600;
    border-radius: var(--border-radius);
    border: none;
}

.section-goal{
    background-color:rgba(192, 192, 192, 0.189) ;
    padding: 40px;
    margin-top: 40px;
}
.section-about{
    background-color:rgba(192, 192, 192, 0.189) ;
    padding: 10px;
    border-top: 2px solid white;
}

.title-details{
    text-align: center;
    font-size: 25px;
}

.section-goal > h4, p{
    margin-left: var(--margin-left);
    text-align: center;
}

.section-goal p{
    font-size: 20px;
}
.section-about > h4{
    margin-left: var(--margin-left);
    margin-right: var(--margin-left);
    text-align: center;
}

.section-about p{
    font-size: 20px;
    text-align: left;
    margin-right: var(--margin-left);
}

footer{
    background-color: black;
    color: silver;
    padding: 50px;
    font-size: 18px;

}

.button:focus, button:hover{
    background-color: rgb(248, 75, 12);
    color: white;
}

.home{
    color:rgb(248, 75, 12)
}